<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://kit.fontawesome.com/c0aaf3970f.js" crossorigin="anonymous"></script>
<meta charset="utf-8">
<title>Yazan Sharawi - About me</title>
<link rel="stylesheet" href="/static/css/about.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<body>
  <header class="header">
    <nav class="navbar navbar-style">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#micon">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/"><img class="logo" src="/static/logo/Mylogo.jpeg"></a>
        </div>
        <div class="collapse navbar-collapse" id="micon">
          <ul class="nav navbar-nav navbar-right">
            <li><a    class="page_names" href="/">Work</a></li>
            <li><a    class="page_names" href="/about">About</a></li>
            <li><a   target="_blank" class="page_names" href="/static/cv/final_cv.pdf">Resume</a></li>
            <li><a   target="_blank" class="page_names" href="https://github.com/yazansharawi">GitHub</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <button onclick="topFunction()" id="myBtn" title="Go to top">
      <!--&#8593--> Top
    </button>
    <div class="container">
      <div class="row">
        <div class="col-sm-6" id="intro_words">
          <h3>Hey there!</h3>
          <h1 id=" intro_words">
            Programming,Reading,
            Sports and Robotics
          </h1>
        </div>
        <div class="col-sm-6">
          <div class="slideshow-container">

            <div class="mySlides">
              <img src="/static/images/about/IMG-20220527-WA0017.jpg" style="width:100%">
            </div>

            <div class="mySlides">
              <img src="/static/images/about/FB_IMG_1663338505304.jpg" style="width:100%">
            </div>

            <div class="mySlides">
              <img src="/static/images/about/IMG_2371.JPG" style="width:100%">
            </div>
            <div class="mySlides">
              <img src="/static/images/about/IMG_1604.JPG" style="width:100%">
            </div>

          </div>
        </div>

<div style="text-align:center">
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
    <span class="dot"></span>
</div>
      </div>
    </div>
    <hr style="height:2px;border-width:0;color:black;background-color:black">
    <br>
    <br>
      <div class="container">
    <p>
      Hey there, I'm Yazan! I am a Computer Science Student at <a target="_blank" href="https://psut.edu.jo/">Princess Sumaya university for Teachnology </a> in my 4th year, I like to read, 
      Program and play sports, Also I like helping people,I had previously worked as a Robotics coach for three years, and I used to teach children aged 9 to 12 how to build and program 
      Robots made out of lego, I also like to participate in Robotics competitions myself and I had previously participated in three different competitions and got many awards with my team.
    </p>

    <p>
      In my free time, I like to program and take new courses related to Computer Science, I have multiple projects built with a team or with myself, Using flutter, HTML, CSS, and bootstrap
      and I really like to design websites and mobile apps using Figma or adobe XD, recently I took UI/UX course with google and there I Learned a lot about design and I discovered that there 
      is a lot more than just making wireframes, so by that, I decided to marge my coding skills with my new skill which is designing and trying to build, design, and publish my work to people.
    </p>
</div>
    <footer>
      <div class="foo">
        <div class="row">
          <div class="col-sm-12">
            <p class="social_media1">Interested in working together? I'd love to hear from you.</p>
            <div class="social_media2">
              <a   target="_blank" id="linkedIn" href="https://www.linkedin.com/in/yazan-sharawi-ba435a211/">linkedIn <span id="linkedIn_span">->,</span></a>
              <a   target="_blank" id="instagram" href="https://www.instagram.com/yazan_sharawi_/">instagram <span id="instagram_span">->,</span></a>
              <a   target="_blank" id="Facebook" href="https://www.facebook.com/yazan.sharawi.10/">Facebook <span id="facebook_span">->,</span></a>
              <a   target="_blank" id="GitHub" href="https://github.com/yazansharawi">GitHub <span id="Github_span">->,</span></a>
            </div>
            <p class="social_media3">yazansharawi25@gmail.com</p>
            <p class="social_media4">© 2022 Yazan Sharawi </p>
          </div>
        </div>
      </div>
    </footer>
  </header>
  <script>
    var mybutton = document.getElementById("myBtn");
    window.onscroll = function() {
      scrollFunction()
    };

    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }

    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }

    let slideIndex = 0;
    showSlides();

    function showSlides() {
      let i;
      let slides = document.getElementsByClassName("mySlides");
      let dots = document.getElementsByClassName("dot");
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      slideIndex++;
      if (slideIndex > slides.length) {
        slideIndex = 1
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex - 1].style.display = "block";
      dots[slideIndex - 1].className += " active";
      setTimeout(showSlides, 2000); // Change image every 2 seconds
    }
  </script>
</body>

</html>
