<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/c0aaf3970f.js" crossorigin="anonymous"></script>
  <meta charset="utf-8">
  <title>Yazan Sharawi - Bike Renting</title>
  <link rel="stylesheet" href="/static/css/Bike Renting project.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
  <header class="header">
    <nav class="navbar navbar-style">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#micon">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/"><img class="logo" src="/static/logo/Mylogo.jpeg"></a>
        </div>
        <div class="collapse navbar-collapse" id="micon">
          <ul class="nav navbar-nav navbar-right">
            <li><a   target="_blank" class="page_names" href="/">Work</a></li>
            <li><a   target="_blank" class="page_names" href="/about">About</a></li>
            <li><a   target="_blank" class="page_names" href="/static/cv/Yazan Sharawi Cv.pdf">Resume</a></li>
            <li><a   target="_blank" class="page_names" href="https://github.com/yazansharawi">GitHub</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <button onclick="topFunction()" id="myBtn" title="Go to top">
      <!--&#8593--> Top
    </button>
    <div class="div1">
      <div class="container">
        <div class="col-sm-12">
          <img src="/static/images/Bike Renting project/Background(bike).jpeg" alt="">
        </div>
      </div>
    </div>
<hr>
    <div class="div2">
      <div class="container">

        <div class="col-sm-6">
          <h3>Project Vision</h3>
          <br>
          <p>
            In this project, I wanted to give back to my beloved
            community and I wanted to have a new idea such that
            we can include sport in the process and let people
            discover my country.
          </p>
        </div>
        <div class="col-sm-6">
          <h3>Challenges</h3>
          <br>
          <p>1- Make the website support multiple languages.</p>
          <p>2- How to convince people to donate.</p>
          <p>3- Make a mobile version of it.</p>
        </div>
      </div>
    </div>

    <div class="div3">
      <div class="container">
        <div class="col-sm-6">
          <img class="img1" src="/static/images/Bike Renting project/pic1(bike_rent).jpeg" alt="">
        </div>
        <div class="col-sm-6">
          <img class="img2" src="/static/images/Bike Renting project/pic2(bike_rent).png" alt="">
        </div>
      </div>
    </div>

    <div class="div4">
      <div class="container">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6">
          <h3>Kick off</h3>
          <br>
          <p>
            At the start of this project, I asked Myself couple of questions
            to determine the foundation of the project, Who is going to use our app?,
            why would they use it?how can our app help them? and how we can
            give them the best experience possible?
          </p>
        </div>
        <div class="col-sm-3">
        </div>
      </div>
    </div>

    <div class="div5">
      <div class="container">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-5" id="Qsection1">
          <p>1) Who is our primary audience ?</p>
          <br>
          <br>
          <br>
          <p>2) Why would they use them ?</p>
        </div>
        <div class="col-sm-6" id="Qsection2">
          <p>3) How can our app help them ? </p>
          <br>
          <br>
          <br>
          <p>4) We can give them the best experience possible ?</p>

        </div>
      </div>
    </div>

    <div class="div6">
      <div class="container">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6">
          <h3>Preliminary Ideation</h3>
          <br>
          <p>
            As with every project, I use preliminary ideation to get to know the user and to make
            adjustments to the website from their recommendations and that will be a good step forward,
            also in this phase, I really can think like a user and discover his needs.
          </p>
        </div>
        <div class="col-sm-3">
        </div>
      </div>
    </div>

    <div class="div7">
      <div class="container">
        <div class="col-sm-12">
          <img src="/static/images/Bike Renting project/ideation(bike_rent).jpeg" alt="">
        </div>
      </div>
    </div>


    <div class="div8">
      <div class="container">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6">
          <h3>Research Insights</h3>
          <br>
          <p>
            After analyzing all data I received from many surveys and questions,
            here are the insights that I came up with.
          </p>
        </div>
        <div class="col-sm-3">
        </div>
      </div>
    </div>

    <div class="div8_1">
      <div class="container">
        <div class="col-sm-6">
          <div style"display:inline-block">
            <i id="like_img" class="fa fa-thumbs-up fa-5x" aria-hidden="true"></i>

            <div style="display: inline-block">
              <p id="like_img_text">
                <span>80 % of the users</span> found the app useful.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div style"display:inline-block">
            <i id="people_img" class="fa-sharp fa-solid fa-handshake fa-5x"></i>
            <div style="display: inline-block">
              <p id="people_img_text">
                <span>More than 40 %</span>
                said that this app will do good to the community.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="div8_2">
      <div class="container">
        <div class="col-sm-6">
          <div style"display:inline-block">
            <i  id="people_img" class="fa-solid fa-hand-holding-dollar fa-5x" aria-hidden="true"></i>

            <div style="display: inline-block">
              <p id="like_img_text">
                <span>50 % of the users</span> said that they are happ to give money.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div style"display:inline-block">
            <i  id="people_img" class="fa-solid fa-arrow-up-right-dots fa-5x" aria-hidden="true"></i>
            <div style="display: inline-block">
              <p id="people_img_text">
                <span>More than 20 %</span>
                said that the tourism businesses will grow.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="div10">
      <div class="container">
        <div class="col-sm-12">
          <h3>Meet the users</h3>
        </div>
      </div>
    </div>

    <div class="div11">
      <div class="container">
        <div class="col-sm-12">
          <img src="/static/images/Bike Renting project/persona1(bike_rent).jpeg" alt="">
        </div>
      </div>
    </div>

    <div class="div12">
      <div class="container">
        <div class="col-sm-12">
          <img src="/static/images/Bike Renting project/persona2(bike_rent).jpeg" alt="">
        </div>
      </div>
    </div>


    <div class="div13">
      <div class="container">
        <div class="col-sm-12">
          <h3>Information Architecture</h3>
        </div>
      </div>
    </div>


    <div class="div14">
      <div class="container">
        <div class="col-sm-12">
          <img src="/static/images/Bike Renting project/IA(bike_rent).jpeg" alt="">
        </div>
      </div>
    </div>

    <div class="div15">
      <div class="container">
        <div class="col-sm-5">
          <h3>P&P Wireframes</h3>
          <br>
          <p>
            Before going through this process, I didn't have a clear idea
            on how the app will look like and after some drawings,skitches and
            really hard time.I finally formed a first look at what the app will
            look like and based on the spark where there for more ideas and that
            helped as a lot.

          </p>
        </div>
        <div class="col-sm-7" id="wireframes_photos">
          <div class="slideshow-container">

            <div class="mySlides">
              <img src="/static/images/Bike Renting project/WireFrame1(bike_rent).jpeg" style="width:100%">
            </div>

            <div class="mySlides">
              <img src="/static/images/Bike Renting project/WireFrame2(bike_rent).jpeg" style="width:100%">
            </div>

            </div>
            <div style="text-align:center">
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
                <span class="dot"></span>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="div16">
      <div class="container">
        <div class="col-sm-7" id="wireframes1_photos">
          <img src="/static/images/Bike Renting project/highfid(bike_rent).jpeg" alt="">
        </div>
        <div class="col-sm-5">
          <h3>Preliminary Wireframes</h3>
          <br>
          <p>
            Creating a higher fidelity but still fairly preliminary
            version of our wireframes, I was able to workout
            some of the technical issues that would not be clear in
            the app, as well as tone down our "blue-sky" screens
            into more realisitic ones. It was important for me to
            start big and scale down so that I could work around
            the features that I really wanted to have, rather than
            working upwards and maybe missing something that would've
            been really cool to see as a user.
          </p>
        </div>
      </div>
    </div>


    <div class="challenge1">
      <div class="container">
        <div class="col-sm-6">
          <h3>Challenge1</h3>
          <br>
          <p>
            As this project can be used by people all around the world, I made two versions
            of it, one supports Arabic, and the other supports English.

          </p>
        </div>
        <div class="col-sm-6">
          <img src="/static/images/Bike Renting project/ch1(bike_rent).jpeg" alt="">
        </div>
      </div>
    </div>

    <div class="challenge2">
      <div class="container">
        <div class="col-sm-6">
          <h3>Challenge2</h3>
          <br>
          <p>
            Many people nowadays use their phones more than they use their laptops,
            so for that need, I also designed this project to use mobile phones.
          </p>
        </div>
        <div class="col-sm-6">
          <img src="/static/images/Bike Renting project/ch2(bike_rent).jpeg" alt="">
        </div>
      </div>
    </div>

    <div class="challenge3">
      <div class="container">
        <div class="col-sm-6">
          <h3>Challenge3</h3>
          <br>
          <p>
            To make convince, people, that the project is a real project,
            I designed a checkout page to show the user that it's secure and not spam.
          </p>
        </div>
        <div class="col-sm-6">
          <img src="/static/images/Bike Renting project/ch3(bike_rent).jpeg" alt="">
        </div>
      </div>
    </div>

    <div class="div17">
      <div class="container">
        <div class="col-sm-12">
          <h3>Final Design.</h3>
        </div>

      </div>
    </div>


    <div class="div18">
      <div class="container">
        <div class="col-sm-12">
          <video width="320" height="600" loop muted autoplay="autoplay">
            <source src="/static/videos/vid(bike_rent).mov" type="video/mp4">
          </video>
        </div>
      </div>
    </div>

    <div class="div19">
      <div class="container">
        <div class="col-sm-12" id="coding">
          <h3>Style Guide</h3>
          <br>
          <p>
            Choosing the right color is important for every design, because
            you want as a designer to show your skills and show your identity
            to people.
          </p>
        </div>
      </div>
    </div>

    <div class="div20">
      <div class="container">
        <div class="col-sm-12" id="style_guide">
          <img src="/static/images/Bike Renting project/styleguide(bike_rent).jpeg" alt="">
        </div>
      </div>
    </div>

    <div class="div21">
      <div class="container">
        <div class="col-sm-12" id="take_aways">
          <h3>Takeaways</h3>
          <br>
          <p>
            This project is so important to me as it's
            a possible way to show people my skills and
            share my work with them; to gain experience
            and meet new people.
          </p>
          <a   target="_blank" href="/static/pdfs/Ride in the city Project .pdf"><button type="button" name="button">Check the project pdf !</button></a>
        </div>
      </div>
    </div>


    <footer>
      <div class="foo">
        <div class="row">
          <div class="col-sm-12">
            <p class="social_media1">Interested in working together? I'd love to hear from you.</p>
            <div class="social_media2">
              <a   target="_blank" id="linkedIn" href="https://www.linkedin.com/in/yazan-sharawi-ba435a211/">linkedIn <span id="linkedIn_span">->,</span></a>
              <a   target="_blank" id="instagram" href="https://www.instagram.com/yazan_sharawi_/">instagram <span id="instagram_span">->,</span></a>
              <a   target="_blank" id="Facebook" href="https://www.facebook.com/yazan.sharawi.10/">Facebook <span id="facebook_span">->,</span></a>
              <a   target="_blank" id="GitHub" href="https://github.com/yazansharawi">GitHub <span id="Github_span">->,</span></a>
            </div>
            <p class="social_media3">yazansharawi25@gmail.com</p>
            <p class="social_media4">© 2022 Yazan Sharawi </p>
          </div>
        </div>
      </div>
    </footer>
  </header>
  <script>
    var mybutton = document.getElementById("myBtn");
    window.onscroll = function() {
      scrollFunction()
    };

    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }

    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }

    let slideIndex = 0;
    showSlides();

    function showSlides() {
      let i;
      let slides = document.getElementsByClassName("mySlides");
      let dots = document.getElementsByClassName("dot");
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      slideIndex++;
      if (slideIndex > slides.length) {
        slideIndex = 1
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex - 1].style.display = "block";
      dots[slideIndex - 1].className += " active";
      setTimeout(showSlides, 2000); // Change image every 2 seconds
    }
  </script>

</body>

</html>
