<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/c0aaf3970f.js" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <title>Yazan Sharawi - Book Store</title>
    <link rel="stylesheet" href="/static/css/Book_store.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <header class = "header">
      <nav class="navbar navbar-style">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#micon">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="/"><img class="logo" src="/static/logo/Mylogo.jpeg"></a>
          </div>
          <div class="collapse navbar-collapse" id="micon">
            <ul class="nav navbar-nav navbar-right">
              <li><a  target="_blank"  class="page_names" href="/">Work</a></li>
              <li><a   target="_blank" class="page_names" href="/about">About</a></li>
              <li><a   target="_blank" class="page_names" href="/static/cv/Yazan Sharawi Cv.pdf">Resume</a></li>
              <li><a   target="_blank" class="page_names" href="https://github.com/yazansharawi">GitHub</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <button onclick="topFunction()" id="myBtn" title="Go to top">
        <!--&#8593--> Top
      </button>

      <div class="div1">
        <div class="container">
          <div class="col-sm-12">
            <img src="/static/images/bookapp/background(books_store).jpeg" alt="">
          </div>
        </div>
      </div>
      <hr>

      <div class="div2">
        <div class="container">
          <div class="col-sm-3">
          </div>
          <div class="col-sm-6">
            <h3>Project Vision</h3>
            <br>
            <p>
              As an enithusm for reading books myself this project is near
              to my heart,The main goal from this project is to make reading
              more easy for new readers and more enjoyable for the old guys
              like me, and by creating this app you can discover New books
              and order it online.
            </p>
          </div>
          <div class="col-sm-3">
          </div>
        </div>
      </div>



      <div class="div3">
        <div class="container">
          <div class="col-sm-3">
          </div>
          <div class="col-sm-6">
            <h3>Kick off</h3>
            <br>
            <p>
              In the design process,I opted for a goal-directed design
              approach that helped me move along through the timeline
              smoothly.Qualitative research methods proved to be the
              most effective during the design process,most notably the
              user interviews and usability testing sessions.Whenever I
              encounter an issue that I am trying to solve,it's smart to
              build a good foundation.In me case,I did this by asking some
              generic but useful internal questions.
            </p>
          </div>
          <div class="col-sm-3">
          </div>
        </div>
      </div>

      <div class="div4">
        <div class="container">
          <div class="col-sm-4" id="Qsection1">
            <p>1) Who is our primary audience ?</p>
            <br>
            <br>
            <br>
            <p>2) Which users are most important ?</p>
          </div>
          <div class="col-sm-4" id="Qsection2">
            <p>3) Who are our biggest competitors? </p>
            <br>
            <br>
            <br>
            <p>4) What are the Challenges we will face moving forward ?</p>

          </div>
          <div class="col-sm-4" id="Qsection3">
            <p>5) Are users willing to use the app ? </p>
            <br>
            <br>
            <br>
            <p>6) What do our users need the most in a product like this ?</p>

          </div>
        </div>
      </div>

      <div class="div5">
        <div class="container">
          <div class="col-sm-3">
          </div>
          <div class="col-sm-6">
            <h3>Preliminary Ideation</h3>
            <br>
            <p>
              I used affinity mapping to identity not only the general
              scope of the app,but to decide which direction I wanted
              to take the product.This was a form of brainstorming during
              the kickoff period that proved to be very helpful in setting up
              the foundation for the rest of our process.
            </p>
          </div>
          <div class="col-sm-3">
          </div>
        </div>
      </div>

      <div class="div6">
        <div class="container">
          <div class="col-sm-12">
            <img src="/static/images/bookapp/ideation(book_store).jpeg" alt="board image">
          </div>
        </div>
      </div>

      <div class="div7">
        <div class="container">
          <div class="col-sm-3">
          </div>
          <div class="col-sm-6">
            <h3>Research Insights</h3>
            <br>
            <p>
              I analyzed the questions I asked the user earlier in the process,
              I also contended another questionnaire and asked the users multiple
              questions, and here are the insights.
            </p>
          </div>
          <div class="col-sm-3">
          </div>
        </div>
      </div>

      <div class="div8">
        <div class="container">
          <div class="col-sm-6">
            <div style"display:inline-block">
              <i id="like_img" class="fa-solid fa-person fa-5x" aria-hidden="true"></i>

              <div style="display: inline-block">
                <p id="like_img_text">
                  <span>30 % of the users</span> said that they would consider using the app.
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div style"display:inline-block">
              <i id="like_img" class="fa-solid fa-lightbulb fa-5x" aria-hidden="true"></i>
              <div style="display: inline-block">
                <p id="people_img_text">
                  <span>More than 70 %</span>
                  said that the idea is great.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="div9">
        <div class="container">
          <div class="col-sm-12" id="Users_headline">
            <h3>Meet the users</h3>
          </div>
        </div>
      </div>

      <div class="div10_img2">
        <div class="container">
          <div class="col-sm-12">
            <img src="/static/images/bookapp/persona1(book_store).jpeg" alt="">
          </div>
        </div>
      </div>

      <div class="div10_img2">
        <div class="container">
          <div class="col-sm-12">
            <img src="/static/images/bookapp/persona2(book_store).jpeg" alt="">
          </div>
          </div>
          </div>

          <div class="div11">
            <div class="container">
              <div class="col-sm-3">
              </div>
              <div class="col-sm-6">
                <h3>Key Path Scenarios</h3>
                <br>
                <p>
                  Here I have one primary key path scenario, I identified
                  one key path scenario when using our app.The user will
                  experience as while planning to buy a book.
                </p>
                <p>
                  The scope of the product allowed me to focus more on This
                  one path.
                </p>
              </div>
              <div class="col-sm-3">
              </div>
            </div>
          </div>

          <div class="div12">
            <div class="container">
              <div class="col-sm-">
                <img src="/static/images/bookapp/path(book_store).jpeg" alt="story">
              </div>
            </div>
          </div>

          <div class="div13">
            <div class="container">
              <div class="col-sm-12">
                <h3>Information Architecture</h3>
              </div>
            </div>
          </div>

          <div class="div14">
            <div class="container">
              <div class="col-sm-12">
                <img src="/static/images/bookapp/AI(BOOK_STORE).JPEG" alt="IA for books app">
              </div>
            </div>
          </div>

          <div class="div15">
            <div class="container">
              <div class="col-sm-5">
                <h3>P&P Wireframes</h3>
                <br>
                <p>
                  Working through a couple really preliminary skitches is
                  always interesting as you as a designer you can see where is
                  the design is good or not, but in the end after many skitches
                  you will eventually get your goal which is a perfect design for all.

                </p>
              </div>
              <div class="col-sm-7" id="wireframes_photos">
                <img src="/static/images/bookapp/wireframe(books)2.jpeg" alt="">
              </div>
            </div>
          </div>

          <div class="div16">
            <div class="container">
              <div class="col-sm-7" id="wireframes1_photos">
                <img src="/static/images/bookapp/highfid(boo_store).jpeg" alt="">
              </div>
              <div class="col-sm-5">
                <h3>Preliminary Wireframes</h3>
                <br>
                <p>
                  This phase is always an exciting one for me as it
                  can enable me to see what the final product will
                  look like, but there is always something to fix
                  even when the product is done.
                </p>
              </div>
            </div>
          </div>

          <div class="div17">
            <div class="container">
              <div class="col-sm-12">
                <h3>Final Design.</h3>
              </div>

            </div>
          </div>

          <div class="div18">
            <div class="container">
              <div class="col-sm-12">
                <video width="320" height="600" loop muted autoplay="autoplay">
                  <source src="/static/videos/Books.mp4" type="video/mp4">
                </video>
              </div>

            </div>
          </div>

          <div class="div19">
            <div class="container">
              <div class="col-sm-12" id="coding">
                <h3>Style Guide</h3>
                <br>
                <p>
                  Choosing the right color is important for every design, because
                  you want as a designer to show your skills and show your identity
                  to people.
                </p>
              </div>
            </div>
          </div>

          <div class="div20">
            <div class="container">
              <div class="col-sm-12" id="style_guide">
                <img src="/static/images/bookapp/stylieguide(book_store).jpeg" alt="">
              </div>
            </div>
          </div>

          <div class="div21">
            <div class="container">
              <div class="col-sm-12" id="take_aways">
                <h3>Takeaways</h3>
                <br>
                <p>
                  This project is so important to me as it's
                  a possible way to show people my skills and
                  share my work with them; to gainexperience
                  and meet new people.
                </p>
                <a   target="_blank" href="/static/pdfs/book_store.pdf"><button type="button" name="button">Check the project pdf !</button></a>
              </div>
            </div>
          </div>

              <footer>
                <div class="foo">
                  <div class="row">
                    <div class="col-sm-12">
                      <p class="social_media1">Interested in working together? I'd love to hear from you.</p>
                      <div class="social_media2">
                        <a  target="_blank"  id="linkedIn" href="https://www.linkedin.com/in/yazan-sharawi-ba435a211/">linkedIn <span id="linkedIn_span">->,</span></a>
                        <a   target="_blank" id="instagram" href="https://www.instagram.com/yazan_sharawi_/">instagram <span id="instagram_span">->,</span></a>
                        <a   target="_blank" id="Facebook" href="https://www.facebook.com/yazan.sharawi.10/">Facebook <span id="facebook_span">->,</span></a>
                        <a   target="_blank" id="GitHub" href="https://github.com/yazansharawi">GitHub <span id="Github_span">->,</span></a>
                      </div>
                      <p class="social_media3">yazansharawi25@gmail.com</p>
                      <p class="social_media4">© 2022 Yazan Sharawi </p>
                    </div>
                  </div>
                </div>
              </footer>


    </header>
    <script>
      var mybutton = document.getElementById("myBtn");
      window.onscroll = function() {
        scrollFunction()
      };

      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          mybutton.style.display = "block";
        } else {
          mybutton.style.display = "none";
        }
      }

      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }
    </script>

  </body>
</html>
