<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/c0aaf3970f.js" crossorigin="anonymous"></script>
  <meta charset="utf-8">
  <title>Yazan Sharawi - Gym website</title>
  <link rel="stylesheet" href="/static/css/Gym_website.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
  <header class="header">
    <nav class="navbar navbar-style">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#micon">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/"><img class="logo" src="/static/logo/Mylogo.jpeg"></a>
        </div>
        <div class="collapse navbar-collapse" id="micon">
          <ul class="nav navbar-nav navbar-right">
            <li><a   class="page_names" href="/">Work</a></li>
            <li><a    class="page_names" href="/about">About</a></li>
            <li><a   target="_blank" class="page_names" href="/static/cv/final_cv.pdf">Resume</a></li>
            <li><a   target="_blank" class="page_names" href="https://github.com/yazansharawi">GitHub</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <button onclick="topFunction()" id="myBtn" title="Go to top">
      <!--&#8593--> Top
    </button>

    <div class="div1">
      <div class="container">
        <div class="col-sm-12">
          <img src="/static/images/Gym_website/Background(gym_website).jpeg" alt="">
        </div>
      </div>
    </div>
    <hr>
    <div class="div2">
      <div class="container">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6">
          <h3>Project Vision</h3>
          <br>
          <p>
            Sports are a very important activity in our life and
            personally, I think everyone should at least exercise once a week
            and with this project, I want to encourage people to go to
            the gyms and give a good impression about the gyms.
          </p>
        </div>
        <div class="col-sm-3">
        </div>
      </div>
    </div>
    <div class="div3">
      <div class="container">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6">
          <h3>Kick off</h3>
          <br>
          <p>
            In this phase as always, I asked myself a couple of
            questions and do a couple of usability tests, surveys and
            it's really helpful as it's a good way to have a good
            foundation for the future.
          </p>
        </div>
        <div class="col-sm-3">
        </div>
      </div>
    </div>

    <div class="div4">
      <div class="container">
        <div class="col-sm-4" id="Qsection1">
          <p>1) Who is our primary audience ?</p>
          <br>
          <br>
          <br>
          <p>2) Which users are most important ?</p>
        </div>
        <div class="col-sm-4" id="Qsection2">
          <p>3) Who are our biggest competitors? </p>
          <br>
          <br>
          <br>
          <p>4) What are the Challenges we will face moving forward ?</p>

        </div>
        <div class="col-sm-4" id="Qsection3">
          <p>5) Are users willing to use the app ? </p>
          <br>
          <br>
          <br>
          <p>6) What do our users need the most in a product like this ?</p>

        </div>
      </div>
    </div>
    <div class="div5">
      <div class="container">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6">
          <h3>Preliminary Ideation</h3>
          <br>
          <p>
            Getting some sticky notes and a pencil and then start
            drawing ideas are the most effective way to have ideas as
            the designer can feel like a user and now his problems and
            tries to figure it out.
          </p>
        </div>
        <div class="col-sm-3">
        </div>
      </div>
    </div>

    <div class="div6">
      <div class="container">
        <div class="col-sm-12">
          <img src="/static/images/Gym_website/ideation(gym_website).jpeg" alt="board image">
        </div>
      </div>
    </div>

    <div class="div7">
      <div class="container">
        <div class="col-sm-12" id="Users_headline">
          <h3>Meet the users</h3>
        </div>
      </div>
    </div>

    <div class="div8_img1">
      <div class="container">
        <div class="col-sm-12">
          <img src="/static/images/Gym_website/persona1(gym_website).jpeg" alt="">
        </div>
      </div>
    </div>

    <div class="div8_img2">
      <div class="container">
        <div class="col-sm-12">
          <img src="/static/images/Gym_website/persona2(gym_website).jpeg" alt="">
        </div>
      </div>
    </div>

    <div class="div9">
      <div class="container">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8">
          <h3>Competitive Analysis</h3>
          <br>
          <p>
            I looked at several potential competing companies, and although none compete directly with my website,
            they can still infringe on the business' revenue & popularity. my website has an advantage in that it can
            be opened on mobile and desktop.
          </p>
          <p>
            The majority of the features between competitiors were very similar,
            however the main differences that we noticed were:
          </p>
          <br>
          <p id="points">– Easily Accessible vs Hardly Accessible</p>
          <p id="points">– Too Many Screens vs Simplified Interaction</p>

        </div>
        <div class="col-sm-2">
        </div>
      </div>
    </div>

    <div class="div10">
      <div class="container">
        <div class="col-sm-12" style"display:inline-block">
          <img src="/static/images/Gym_website/gym1.png" alt="">
          <img src="/static/images/Gym_website/gym3.png" alt="">
        </div>
      </div>
    </div>

    <div class="div11">
      <div class="container">
        <div class="col-sm-12">
          <h3>Information Architecture</h3>
        </div>
      </div>
    </div>

    <div class="div12">
      <div class="container">
        <div class="col-sm-12">
          <img src="/static/images/Gym_website/IA(gym_website).jpeg" alt="IA for books app">
        </div>
      </div>
    </div>

    <div class="div13">
      <div class="container">
        <div class="col-sm-5">
          <h3>P&P Wireframes</h3>
          <br>
          <p>
          After sketching out some p&p wireframes and thinking through the preliminary flow, I reviewed what was nessecary, unessecary ,
          and what areas needed improvement. I poured a lot of the time into this step to make sure I had the finishing
          touches on the underlying UX before moving onto the visuals.

          </p>
        </div>
        <div class="col-sm-7" id="wireframes_photos">
          <img src="/static/images/Gym_website/Gym_website(wireframe).jpeg" alt="">
        </div>
      </div>
    </div>

    <div class="div14">
      <div class="container">
        <div class="col-sm-7" id="wireframes1_photos">
          <img src="/static/images/Gym_website/highwirefram(gym_wbsite).jpeg" alt="">
        </div>
        <div class="col-sm-5">
          <h3>Preliminary Wireframes</h3>
          <br>
          <p>
            Getting to this phase is always a great thing as you see how the final
            the design would look like and it's very interesting phase as here you can scroll
            the app and know the feeling as a user.
          </p>
        </div>
      </div>
    </div>
    <div class="div18_1">
      <div class="container">
        <div class="col-sm-12">
          <h3>Coding</h3>
        </div>

      </div>
    </div>
    <div class="div18_2">
      <div class="container">
        <div class="col-sm-12">
          <p>Here you can acces the code for this app, I did code it using Html,Css,JavaScript,BootStrap (only front-end).</p>
          <br>
          <br>
          <p>The link for the code<a   target="_blank" href="https://github.com/yazansharawi/Silver-Gym.git"> Click me</a></p>
        </div>

      </div>
    </div>

    <div class="div15">
      <div class="container">
        <div class="col-sm-12" id="coding">
          <h3>Style Guide</h3>
          <br>
          <p>
            Choosing the right color is important for every design, because
            you want as a designer to show your skills and show your identity
            to people.
          </p>
        </div>
      </div>
    </div>

    <div class="div16">
      <div class="container">
        <div class="col-sm-12" id="style_guide">
          <img src="/static/images/Gym_website/stylieguide(gym_website).jpeg" alt="">
        </div>
      </div>
    </div>

    <div class="div17">
      <div class="container">
        <div class="col-sm-12" id="take_aways">
          <h3>Takeaways</h3>
          <br>
          <p>
            This project is so important to me as it's
            a possible way to show people my skills and
            share my work with them; to gainexperience
            and meet new people.
          </p>
          <a   target="_blank" href="/static/pdfs/Sliver Gym Project .pdf"><button type="button" name="button">Check the project pdf !</button></a>
        </div>
      </div>
    </div>




    <footer>
      <div class="foo">
        <div class="row">
          <div class="col-sm-12">
            <p class="social_media1">Interested in working together? I'd love to hear from you.</p>
            <div class="social_media2">
              <a   target="_blank" id="linkedIn" href="https://www.linkedin.com/in/yazan-sharawi-ba435a211/">linkedIn <span id="linkedIn_span">->,</span></a>
              <a   target="_blank" id="instagram" href="https://www.instagram.com/yazan_sharawi_/">instagram <span id="instagram_span">->,</span></a>
              <a   target="_blank" id="Facebook" href="https://www.facebook.com/yazan.sharawi.10/">Facebook <span id="facebook_span">->,</span></a>
              <a   target="_blank" id="GitHub" href="https://github.com/yazansharawi">GitHub <span id="Github_span">->,</span></a>
            </div>
            <p class="social_media3">yazansharawi25@gmail.com</p>
            <p class="social_media4">© 2022 Yazan Sharawi </p>
          </div>
        </div>
      </div>
    </footer>

  </header>
  <script>
    var mybutton = document.getElementById("myBtn");
    window.onscroll = function() {
      scrollFunction()
    };

    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }

    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
  </script>

</body>

</html>
