<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/c0aaf3970f.js" crossorigin="anonymous"></script>
  <meta charset="utf-8">
  <title>Yazan Sharawi</title>
  <link rel="stylesheet" href="/static/css/MainPage.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
  <header class="header">
    <nav class="navbar navbar-style">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#micon">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/"><img class="logo" src="/static/logo/Mylogo.jpeg"></a>
        </div>
        <div class="collapse navbar-collapse" id="micon">
          <ul class="nav navbar-nav navbar-right">
            <li><a    class="page_names" href="/">Work</a></li>
            <li><a  class="page_names" href="/about">About</a></li>
            <li><a   target="_blank" class="page_names" href="/static/cv/final_cv.pdf">Resume</a></li>
            <li><a   target="_blank" class="page_names" href="https://github.com/yazansharawi">GitHub</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <button onclick="topFunction()" id="myBtn" title="Go to top">
      <!--&#8593--> Top
    </button>
    <div class="div1">
      <div class="container" id="photo_and_myname">
        <div class="row">
          <div class="col-sm-8">
            <h1>Hello There,</h1>
            <p class="big-text"> I'm Yazan Sharawi</p>
            <p  class="My_Name_Header">Computer Science Student at Psut </p>
            <a   class="btn btn-first" href="/about">Read more -></a>
            <a   target="_blank" class="btn btn-second" href="/static/cv/new_cv.pdf">Resume -></a>
          </div>
          <div class="col-sm-4">
            <img src="/static/images/mainpage/IMG_0003.JPG" alt="">
          </div>

        </div>

      </div>
    </div>

    <hr style="height:2px;border-width:0;color:black;background-color:black">
    <div class="container" id = "header">
      <div class="row">
        <h1>Projects</h1>
        <br>
      </div>
    </div>

  <div class="div2">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="card1">
            <div class="card1-content">
              <h2 class="card1-title" id = "title" >My Portfolio</h2>
              <p class="card1-body" id = "role">
                Role:Software engineer,Visuals,
                Interactions, Research
              </p>
                    <br>
              <p id = "time">
                April 2022 - Sep 2022
              </p>
              <a   target="_blank" class="button" href="/portfolio">Learn More</a>
            </div>
          </div>
        </div>
        <br>
        <div class="col-sm-6">
          <div class="card2">
            <div class="card2-content">
              <h2 class="card2-title"  id = "title">Ghazi</h2>
              <p class="card2-body" id = "role">
                Role:Visuals,Interactions, Research
              </p>
                    <br>
              <p id = "time">
                Aug 2021 - Sep 2021
              </p>
              <a   target="_blank" class="button" href="/gasapp">Learn More</a>
            </div>
          </div>
        </div>
        <br>
      </div>

      <br>
      <div class="row">
        <div class="col-sm-6">
          <div class="card3">
            <div class="card3-content">
              <h2 class="card3-title"  id = "title">E-ticket</h2>
              <p class="card3-body" id = "role">
                Role:Front-end engineer,Visuals,
                Interactions, Research
              </p>
              <p id = "time">
                Jun 2021 - Jul 2021
              </p>
              <a   target="_blank" class="button" href="/movie">Learn More</a>
            </div>
          </div>
        </div>
        <br>
        <br>
        <div class="col-sm-6">
          <div class="card4">
            <div class="card4-content">
              <h2 class="card4-title"  id = "title">E-bookshelf</h2>
              <p class="card4-body" id = "role">
                Role:Visuals,Interactions, Research
              </p>
              <br>
              <p id = "time">
                Oct 2020 - Dec 2020
              </p>
              <a   target="_blank" class="button" href="/book">Learn More</a>
            </div>
          </div>
        </div>
        <br>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-6">
          <div class="card5">
            <div class="card5-content">
              <h2 class="card5-title"  id = "title">Silver Gym</h2>
              <p class="card5-body" id = "role">
                Role:Visuals,Interactions,Research
              </p>
              <br>
              <p id = "time">
                Feb 2021 - Mar 2021
              </p>
              <a   target="_blank" class="button" href="/gym">Learn More</a>
            </div>
          </div>
        </div>
        <br>
        <div class="col-sm-6">
          <div class="card6">
            <div class="card6-content">
              <h2 class="card6-title"  id = "title">Ride in the city</h2>
              <p class="card6-body" id = "role">
                Role:Visuals,Interactions, Research
              </p>
              <br>
              <p id = "time">
                May 2022 - Aug 2022
              </p>
              <a   target="_blank" class="button" href="/bikerent">Learn More</a>
            </div>
          </div>
        </div>
        <br>
      </div>
    </div>
      </div>

    <footer>
      <div class="foo">
        <div class="row">
          <div class="col-sm-12">
            <p class="social_media1">Interested in working together? I'd love to hear from you.</p>
            <div class="social_media2">
              <a   target="_blank" id="linkedIn" href="https://www.linkedin.com/in/yazan-sharawi-ba435a211/">linkedIn <span id="linkedIn_span">->,</span></a>
              <a   target="_blank" id="instagram" href="https://www.instagram.com/yazan_sharawi_/">instagram <span id="instagram_span">->,</span></a>
              <a   target="_blank" id="Facebook" href="https://www.facebook.com/yazan.sharawi.10/">Facebook <span id="facebook_span">->,</span></a>
              <a   target="_blank" id="GitHub" href="https://github.com/yazansharawi">GitHub <span id="Github_span">->,</span></a>
            </div>
            <p class="social_media3">yazansharawi25@gmail.com</p>
            <p class="social_media4">© 2022 Yazan Sharawi </p>
          </div>
        </div>
      </div>
    </footer>
  </header>
  <script>
    var mybutton = document.getElementById("myBtn");
    window.onscroll = function() {
      scrollFunction()
    };

    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }

    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
  </script>

</body>

</html>
