<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/c0aaf3970f.js" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <title>Yazan Sharawi - My Portfolio</title>
    <link rel="stylesheet" href="/static/css/My_Portfolio_Webiste.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <header class = "header">
      <nav class="navbar navbar-style">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#micon">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="/"><img class="logo" src="/static/logo/Mylogo.jpeg"></a>
          </div>
          <div class="collapse navbar-collapse" id="micon">
            <ul class="nav navbar-nav navbar-right">
              <li><a  target="_blank" class="page_names" href="/">Work</a></li>
              <li><a  target="_blank"  class="page_names" href="/about">About</a></li>
              <li><a   target="_blank" class="page_names" href="/static/logo/Mylogo.jpeg">Resume</a></li>
              <li><a   target="_blank" class="page_names" href="https://github.com/yazansharawi">GitHub</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <button onclick="topFunction()" id="myBtn" title="Go to top">
        <!--&#8593--> Top
      </button>
      <div class="div1">
        <div class="container">
          <div class="col-sm-12">
            <img src="/static/images/My_Portfoloi_Website/Background(port).jpeg" alt="">
          </div>
        </div>
      </div>
      <hr>

      <div class="div2">
        <div class="container">

          <div class="col-sm-6">
            <h3>Project Vision</h3>
            <br>
            <p>
              In this project, I wanted to demonstrate to potential employers that I have the skills to build a 
              fully responsive website from the ground up, as well as my expertise in the UI/UX field.
            </p>
              </div>
              <div class="col-sm-1">
                </div>
          <div class="col-sm-5" >
            <h3>Challenges</h3>
            <br>
            <p>1- Make a responsive website.</p>
            <p>2- How to show my skills.</p>
          </div>
          </div>
      </div>

      <div class="div3">
        <div class="container">
          <div class="col-sm-12">
            <img class = "img1" src="/static/images/My_Portfoloi_Website/pic1(port).jpeg" alt="">
          </div>
        </div>
      </div>

      <div class="div4">
        <div class="container">
          <div class="col-sm-3">
          </div>
          <div class="col-sm-6">
            <h3>Kick off</h3>
            <br>
            <p>
              I asked myself a couple of questions at the start of this project to determine the foundation of the project, Who is going to use our app? 
              How can I demonstrate my abilities? and how can we make the best impression on the recruiter?
            </p>
          </div>
          <div class="col-sm-3">
          </div>
        </div>
      </div>



      <div class="div6">
        <div class="container">
          <div class="col-sm-3">
          </div>
          <div class="col-sm-6">
            <h3>Preliminary Ideation</h3>
            <br>
            <p>
              As with every project, I use preliminary ideation to get to know the user and to make
              adjustments to the website from their recommendations and that will be a good step forward.
            </p>
          </div>
          <div class="col-sm-3">
          </div>
        </div>
      </div>

      <div class="div7">
        <div class="container">
          <div class="col-sm-12">
            <img src="/static/images/My_Portfoloi_Website/ideation(port).jpeg" alt="">
          </div>
        </div>
      </div>


      <div class="div8">
        <div class="container">
          <div class="col-sm-6">
            <h3>Competitive analysis</h3>
            <br>
            <p>
              After looking at some data online I discovered that many people
              nowadays use personal portfolios to show thier work,as there is
              websites as LinkedIn,people are heading to personal websites as
              a way to show skills and potential.
            </p>
          </div>
          <div class="col-sm-6">
            <img src="/static/images/My_Portfoloi_Website/Plot-of-portfolio-value-growth.pbm" alt="">
          </div>
        </div>
      </div>

      <div class="div10">
        <div class="container">
          <div class="col-sm-12">
            <h3>Meet the users</h3>
          </div>
        </div>
      </div>

      <div class="div11">
        <div class="container">
          <div class="col-sm-12">
            <img src="/static/images/My_Portfoloi_Website/persona1(port).jpeg" alt="">
          </div>
        </div>
      </div>

      <div class="div12">
        <div class="container">
          <div class="col-sm-12">
            <img src="/static/images/My_Portfoloi_Website/persona2(port).jpeg" alt="">
          </div>
        </div>
      </div>


      <div class="div13">
        <div class="container">
          <div class="col-sm-12">
            <h3>Information Architecture</h3>
          </div>
        </div>
      </div>


      <div class="div14">
        <div class="container">
          <div class="col-sm-12">
            <img src="/static/images/My_Portfoloi_Website/AI(port).jpeg" alt="">
          </div>
        </div>
      </div>

      <div class="div15">
        <div class="container">
          <div class="col-sm-5">
            <h3>P&P Wireframes</h3>
            <br>
            <p>
              In this phase, I didn't have a clear idea of what
              the website will look like, but I did now when the thing
              that I need to put my best effort into it, so in a while
              By doing some sketches your imagination will work and
              from there you can really have a plan in mind.

            </p>
          </div>
          <div class="col-sm-7" id="wireframes_photos">
            <img src="/static/images/My_Portfoloi_Website/wirefrmaes.jpeg" alt="">
          </div>
        </div>
      </div>

      <div class="div16">
        <div class="container">
          <div class="col-sm-7" id="wireframes1_photos">
            <img src="/static/images/My_Portfoloi_Website/Highfid(portflio).jpeg" alt="">
          </div>
          <div class="col-sm-5">
            <h3>Preliminary Wireframes</h3>
            <br>
            <p>
              Creating a high-fidelity frame always brings a smile to
              the designer's face, as he can finally see that the project
              he has been working with the team or solo and is getting
              somewhere, but as always it's not the end yet for any
              modifications.
            </p>
          </div>
        </div>
      </div>

              <div class="div19">
                <div class="container">
                  <div class="col-sm-12" id="coding">
                    <h3>Style Guide</h3>
                    <br>
                    <p>
                      Choosing the right color is important for every design, because
                      you want as a designer to show your skills and show your identity
                      to people.
                    </p>
                  </div>
                </div>
              </div>

              <div class="div20">
                <div class="container">
                  <div class="col-sm-12" id="style_guide">
                    <img src="/static/images/My_Portfoloi_Website/stylieguide(port).jpeg" alt="">
                  </div>
                </div>
              </div>

              <div class="div21">
                <div class="container">
                  <div class="col-sm-12" id="take_aways">
                    <h3>Takeaways</h3>
                    <br>
                    <p>
                      This project is so important to me as it's
                      a possible way to show people my skills and
                      share my work with them; to gainexperience
                      and meet new people.
                    </p>
                    <a   target="_blank" href="/static/pdfs/My Portfolio Project .pdf"><button type="button" name="button">Check the project pdf !</button></a>
                  </div>
                </div>
              </div>


      <footer>
        <div class="foo">
          <div class="row">
            <div class="col-sm-12">
              <p class="social_media1">Interested in working together? I'd love to hear from you.</p>
              <div class="social_media2">
                <a   target="_blank" id="linkedIn" href="https://www.linkedin.com/in/yazan-sharawi-ba435a211/">linkedIn <span id="linkedIn_span">->,</span></a>
                <a   target="_blank" id="instagram" href="https://www.instagram.com/yazan_sharawi_/">instagram <span id="instagram_span">->,</span></a>
                <a   target="_blank" id="Facebook" href="https://www.facebook.com/yazan.sharawi.10/">Facebook <span id="facebook_span">->,</span></a>
                <a   target="_blank" id="GitHub" href="https://github.com/yazansharawi">GitHub <span id="Github_span">->,</span></a>
              </div>
              <p class="social_media3">yazansharawi25@gmail.com</p>
              <p class="social_media4">© 2022 Yazan Sharawi </p>
            </div>
          </div>
        </div>
      </footer>
    </header>
    <script>
      var mybutton = document.getElementById("myBtn");
      window.onscroll = function() {
        scrollFunction()
      };

      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          mybutton.style.display = "block";
        } else {
          mybutton.style.display = "none";
        }
      }

      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }
    </script>

  </body>
</html>
